<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/plain" href="/stylesheets/style.css">

    <title>Task list</title>
</head>
<body>
    <%- include('navbar') %>
    <div class="container">
        <h2 style="padding: 15px">Task list</h2>
        <div class="row" style="padding-left: 30px; padding-bottom: 15px">
            <button class="btn btn-primary"
                    onclick="javascript:document.location.href='/createTask'">
                Create Task
            </button>
        </div>
        <div>
            <table style="width: 100%; margin-left: 15px; margin-bottom: 10px">
                <% tasks.forEach(task => { %>
                    <tr>
                        <td style="border-bottom: 1px solid black; padding-bottom: 15px; padding-top: 15px; padding-left: 15px">
                            <a href="/tasks/<%= task._id; %>"><h4 style="font-weight: normal; padding-bottom: 5px"><%= task.summary %></h4></a>
                            <span>
                                <button class="btn btn-info btn-status"><%= status[task.status] %></button>
                            </span>
                            <span>
                                <button class="btn btn-info btn-type"><%= types[task.type] %></button>
                            </span>
                            <span>
                                <button class="btn btn-info btn-priority"><%= priorities[task.priority] %></button>
                            </span>
                            <p style="padding-top: 10px; margin-bottom: 0"><%= task.description %></p>
                        </td>
                        <td style="border-bottom: 1px solid black; padding-bottom: 15px; padding-top: 15px; text-align: center; width: 250px">
                            <button class="btn btn-primary" onclick="javascript:document.location.href='/editTask/<%= task.id %>'">Edit Task</button>
                        </td>
                    </tr>
                <% }); %>
            </table>
        </div>
    </div>
</body>
</html>


