<style>
    ul.success {
        padding: 15px;
        margin: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #3c763d;
        background-color: #dff0d8;
        list-style-type: none;
    }

    ul.error {
        padding: 15px;
        margin: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #a94442;
        background-color: #f2dede;
        list-style-type: none;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Task Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <% if (locals.user) { %>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item <%= title === 'Dashboard' ? 'active' : '' %>">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item <%= title === 'Tasks List' ? 'active' : '' %>">
                    <a class="nav-link" href="/task-list">Task list</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        <% } %>
        <% if (!locals.user) { %>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item <%= title === 'Register' ? 'active' : '' %>">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item <%= title === 'Login' ? 'active' : '' %>">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        <% } %>
    </div>
</nav>

<%- messages() %>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
