<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/plain" href="/stylesheets/task.css">

    <title><%= title %></title>
</head>
<body>
<%- include('navbar') %>
<div class="container">
    <div>
        <div class="row">
            <div class="col">
                <h2 class="mb-3" style="padding: 15px 15px 0 0">Task: <%= task[0].summary; %></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <p><%= task[0].description; %></p>
            </div>
            <div class="col-4">
                <div>
                    <span class="sidebar-field-name"><b>Priority:</b></span>
                    <span class="sidebar-field-value"><%= priorities[task[0].priority]; %></span>
                </div>
                <div>
                    <span class="sidebar-field-name"><b>Type:</b></span>
                    <span class="sidebar-field-value"><%= types[task[0].type]; %></span>
                </div>
                <div>
                    <span class="sidebar-field-name"><b>Status:</b></span>
                    <span class="sidebar-field-value"><%= status[task[0].status]; %></span>
                </div>
                <div>
                    <span class="sidebar-field-name"><b>Assignee:</b></span>
                    <span class="sidebar-field-value"><%= task[0].assignee; %></span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <% if (comments.length != 0) { %>
            <h3 class="mb-3" style="padding: 15px 15px 0 0">Comments:</h3>
            <div style="max-height: 300px; overflow: auto; padding-right: 10px">
                <table style="width: 100%">
                    <% for (var n = 0; n < comments.length; n++) {%>
                        <% if (n === 0) { %>
                            <tr>
                                <td style="border-bottom: 1px solid black; padding-bottom: 15px">
                                <span>
                                    <button class="btn btn-info btn-status"><%= comments[n].leftComment %></button>
                                </span>
                                <span>
                                    <button class="btn btn-info btn-type"><%= comments[n].date %></button>
                                </span>
                                <textarea readonly style="margin-top: 15px; margin-bottom: 0; width: 100%; border-color: lightgrey"><%= comments[n].comment %></textarea>
                                </td>
                            </tr>
                        <% } else{ %>
                            <tr>
                                <td style="border-bottom: 1px solid black; padding-bottom: 15px; padding-top: 15px">
                                <span>
                                    <button class="btn btn-info btn-status"><%= comments[n].leftComment %></button>
                                </span>
                                <span>
                                    <button class="btn btn-info btn-type"><%= comments[n].date %></button>
                                </span>
                                <br>
                                <textarea readonly style="margin-top: 15px; margin-bottom: 0; width: 100%; border-color: lightgrey"><%= comments[n].comment %></textarea>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </table>
            </div>
        <% } %>
    </div>
    <div style="margin-bottom: 10px">
        <h3 class="mb-3" style="padding: 15px 15px 0 0">Add new comment:</h3>
        <form method="post" action="/tasks/<%= task[0].id %>">
            <% if (errors) { %>
                <% for (var n = 0; n < errors.length; n++) {%>
                    <div class="alert alert-danger">
                        <%= errors[n].msg %>
                    </div>
                <% } %>
            <% } %>
            <div class="form-group">
                <textarea name="comment" class="form-control" placeholder="Enter comment"></textarea>
            </div>
            <button name="submit" value="Comment" type="submit" class="btn btn-primary">Comment</button>
        </form>
    </div>
</div>
</body>
</html>
